
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

body {
     
    font-family: 'Inter', sans-serif;
}

#navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;
    padding: 10px 20px;
}

#navimg {
    height: 50px;
    width: 150px;

}

#navlist {
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 500;
}

#navlist a {
    text-decoration: none;
    color: black;
}

#navbtn {
    background-color: #28814d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* hero section style form here  */

#herosection{

    background-image: url("assets/hero-bg.png");
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#herosection div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}

#earlynowbtn{
    display: flex;
    align-items: center;

    justify-content: center;
    gap: 20px;
    color: #28814d;
    border: 2px solid;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
}

#herosection h1{
    font-size: 72px;
    font-weight: 700;
    color: white;
    max-width: 800px;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;

}

#herosection h1 span{
    color: #28814d;
}

#herosection p{
    font-size: 18px;
    color: white;
    max-width: 700px;
    text-align: center;
    line-height: 1.5;
    margin-top: 0;
}

#herobtncont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    gap: 20px;

}

#greenbtn{
    background-color: #28814d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

#transparentbtn{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

