
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

body {
     
    font-family: 'Inter', sans-serif;
}

#navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px 20px;
}

#navimg {
    height: 50px;
    width: 150px;

}

#navlist {
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 500;
}

#navlist a {
    text-decoration: none;
    color: black;
}

#navbtn {
    background-color: #28814d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* hero section style form here  */

#herosection{

    background-image: url("assets/hero-bg.png");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#herosectiondiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}

#earlynowbtn{
    display: flex;
    align-items: center;

    justify-content: center;
    gap: 20px;
    color: #28814d;
    border: 2px solid;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
}

#herosection h1{
    font-size: 72px;
    font-weight: 700;
    color: white;
    max-width: 800px;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;

}

#herosection h1 span{
    color: #28814d;
}

#herosection p{
    font-size: 18px;
    color: white;
    max-width: 700px;
    text-align: center;
    line-height: 2;
    margin-top: 0;
}

#herobtncont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    gap: 20px;

}

#greenbtn{
    background-color: #28814d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

#transparentbtn{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}


/* note sectionn */

#notessection{
    padding-top: 50px;
}

#notessection h5{
    color: black;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

#notesectiontextdiv p{
    color: #627382;
    text-align: center;
}

.graytext{
    color: #627382;
}

#notecard{
    padding: 20px;
    border: 1px solid;
}

#cardcontainer{
    display: flex;
    gap: 30px;
    justify-content: center;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.card{
    padding: 60px 15px 10px 15px;
    border: 1px solid rgb(246, 244, 244);
    box-shadow: 0px 4px 6px  rgba(0, 0, 0, 0.1);
    border-bottom: 0px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cardimgdiv{
     background-color: #F95555;
     padding: 10px;
    width: fit-content;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    
    
}

.card h4{
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: 600;
    
}